<h3>TestForm</h3>

@code {

    [CascadingParameter]
    public PersonDto? PersonDto { get; set; }

    [CascadingParameter]
    public EditContext EditContext { get; set; } = default!;

    private TestDto TestDto => PersonDto!.TestDto;

    private void OnAdd()
    {
        TestDto.Messages.Add("Test");
        EditContext.Validate();
    }

    private void OnDelete()
    {
        if (!TestDto.Messages.Any())
        {
            return;
        }
        TestDto.Messages.RemoveAt(0);
        EditContext.Validate();
    }

}

@foreach (var message in TestDto.Messages)
{
    <MudText>@message</MudText>
}

<MudButton OnClick="@OnAdd" Variant="@Variant.Filled" Color="@Color.Primary">Add</MudButton>
<MudButton Disabled="@(!TestDto.Messages.Any())" OnClick="@OnDelete" Variant="@Variant.Filled" Color="@Color.Error">Delete</MudButton>
<ValidationError For="@(() => TestDto.Messages)"/>